body {
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
main {
    position: relative;
    width: 450px;
    height: 450px;
    margin: 0 auto;
}
#board {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(173, 216, 230, 0.656);
    border-radius: 10px;
}

#board img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#board img[data-name=blank] {
    opacity: 0;
}
#board img:hover {
    transform: scale(1.1);
}

.touch {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 3;
    transition: all 0.3s ease;
}

.pop-score {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    padding: 10px 5px;
    font-size: 18px;
    color: rgb(112, 96, 49);
    background-color: rgba(246, 246, 246, 0.7);
    border-radius: 8px;
    transition: all 1s ease;
    z-index: -1;
}
.pop-score.visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn; 
    animation-duration: 0.75s;   
    -webkit-animation-duration: 0.75s;
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;       
    }

    50% {
        transform: scale(1);
        opacity: 1; 
    }  
    80% {
        transform: scale(1);
        opacity: 1; 
    }  
    100% {
        transform: scale(0);
        opacity: 0.0;       
    }     
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;       
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }   
    80% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }   
    100% {
        -webkit-transform: scale(0);
        opacity: 0.0;       
    }    
}